.collection-form-wrapper {
  display: flex;
  justify-content: center;
}

.collection-form {
  background-color: #1b2a41;
  width: 300px;
  border: 1px solid #0c1821;
  height: 300px;
  border-radius: 2%;
  box-shadow: 3px 3px #0c1821;
}
.error-message {
  color: red;
}
