.group-card {
  background-color: #1b2a41;
  width: 250px;
  border: 1px solid #0c1821;
  min-height: 250px;
  border-radius: 2%;
  box-shadow: 3px 3px #0c1821;
  margin-top: 20px;
}

.item-name {
  cursor: grab;
}
