.item-card-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.336);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.item-card {
  background-color: #230c33;
  width: 300px;
  border: 1px solid #1d0e2b;
  min-height: 300px;
  border-radius: 2%;
  box-shadow: 3px 3px 3px 3px#1d0e2b;
}
