.firstPair {
  background-color: white;
  color: black;
}
.secondPair {
  background-color: #a405a3;
  color: #ffffff;
}
.thirdPair {
  background-color: #0380c0;
  color: #ffffff;
}
.fourthPair {
  background-color: #11c064;
  color: #3c3c3c;
}
.fifthPair {
  background-color: #ff0c53;
  color: #ffffff;
}
