body {
  background-color: black;
  color: white;
}

textarea {
  background-color: rgb(57, 55, 55);
  color: white;
}

.hidden {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 100ms;
}

.hidden > div {
  overflow: hidden;
}

.shown {
  grid-template-rows: 1fr;
}

.clickable:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}
a {
  color: white;
}

.clickable:hover {
  cursor: pointer;
}

.userForm {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.userForm label {
  text-align: left;
}

.navbarItems {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.navbarItems:hover {
  text-decoration: underline;
  color: white;
  margin-left: 10px;
}
