@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Manrope&display=swap");

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.clickable {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.clickable:hover {
  color: #ccc9dc;
}

a {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ccc9dc;
}

h1,
h2,
h3,
h4 {
  font-family: "Karla", sans-serif;
}
